.git
.gitignore
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
build/
dist/
*.egg-info
docs/_build/
mapping_tese/data/