__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
env/
venv/
ENV/
.ipynb_checkpoints/
*.ipynb_checkpoints
.pytest_cache/
.coverage
htmlcov/
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
Desktop.ini
mapping_tese/data
*.log
mapping_tese/notebooks/ANN/results/4_Classes_ANN/models/
mapping_tese/notebooks/ANN/results/**/*.txt
mapping_tese/notebooks/ANN/results/**/*.csv
mapping_tese/notebooks/SVC/results/**/*.txt