#Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
env/
venv/
ENV/

#Jupyter
.ipynb_checkpoints/

#Testing
.pytest_cache/
.coverage
htmlcov/

#IDE
.vscode/
.idea/
*.swp
*.swo
*~

#OS
.DS_Store
Thumbs.db
Desktop.ini

#Project
mapping_tese/data
mapping_tese/notebooks/nilearn_cache/

#Logs
*.log

#Large outputs
mapping_tese/notebooks/**/results/**/*.txt
mapping_tese/notebooks/**/results/**/*.csv
mapping_tese/notebooks/**/results/**/*.html
mapping_tese/notebooks/**/results/**/models/
mapping_tese/notebooks/**/results/**/ova_maps/