__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
env/
venv/
ENV/
.ipynb_checkpoints/
*.ipynb_checkpoints
.pytest_cache/
.coverage
htmlcov/
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
Desktop.ini
mapping_tese/data
mapping_tese/notebooks/results
*.log
work.log