name: somatosensory_mapping
channels:
  - conda-forge
dependencies:
  - python=3.10
  - numpy
  - pandas
  - matplotlib
  - scikit-learn
  - jupyter
  - jupyterlab
  - ipykernel
  - pip
  - pip:
      - nilearn
      - nibabel
      - torch
      - torchvision
